# System files
.DS_Store

# IntelliJ project files
.idea

# Working files
config*.yml
phpunit.xml
app/ssl/
vendor/
*.log
cache

# We are dealing with a library so we ignore composer.lock
composer.lock